.nav-burger {
    width: 60px;
    height: 45px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    background: none;
    border: none;
    display: none;

    @media screen and (max-width: 767.98px) {
        display: block;
    }

    span {
        display: block;
        position: absolute;
        height: 9px;
        width: 100%;
        background: rgb(0, 191, 255);
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2) {
            top: 18px;
        }

        &:nth-child(3) {
            top: 36px;
        }
    }
}