.home {
    display: flex;
    flex-wrap: wrap;
    background-image: url(https://res.cloudinary.com/djbaqvlnn/image/upload/v1643856125/home_wallpaper_rhxubg.jpg);
    background-size: cover;
    background-attachment: fixed;
    
    &__aside {
        flex: 1 1 260px;
        display: grid;
        grid-gap: 15px;
        align-self: flex-start;
        margin-right: 20px;
        position: sticky;
        top: 30px;

        @media screen and (max-width: 991.98px) {
            margin-right: 0;
            margin-bottom: 20px;
            position: static;
        }

        @media screen and (max-width: 767.98px) {
            display: none;
        }
    }

    &__cards {
        flex: 3 1 auto;
    }

    &__aside,
    &__cards {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;

        @media screen and (max-width: 991.98px) {
            flex: 1 1 100%;
        }
    }
}