.spinner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-size: 25px;

	&--pokemon {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&--sm {
		position: static;
		transform: none;
	}
	
	&__img {
		width: 160px;
		height: 106px;
	}
}