.nav {

    @media screen and (max-width: 767.98px) {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        flex-direction: column;
        position: fixed;
        background: #000;
        height: 50%;
        width: 10%;
        z-index: 1;
        left: 0;
        top: 15px;
        transform: translateX(-100%);
        transition: transform .5s ease;
        visibility: hidden;
    }

    &__list {
        display: flex;
        position: relative;
        background-color: #000;

        @media screen and (max-width: 767.98px) {
            flex-direction: column;
        }

    }

    &__link {
        font-size: 1.25rem !important;
        padding: 20px;
        text-transform: uppercase;
        letter-spacing: 0.07rem;
        display: block;
        color: #fff !important;
        // background: #fff;
        position: relative;
        outline: none;

        &:hover,
        &:focus {
            text-decoration: overline !important;
        }

        &.active {
            background: rgb(0, 191, 255) !important;
        }
    }
}